main {
    padding-left: 0;
    padding-right: 0;
}

.hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-top: 20%;
}

div.img-wrapper {
    grid-column: 1/4;
    grid-row: 1;
    background-image: url("/Assets/iranian-flag.png");
    max-width: 100%;
    height: 50vmax;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
    opacity: 75%;
}

.heroh1 {
    grid-column: 4/1;
    grid-row: 1/3;
    z-index: 1;
    font-size: var(--heroh1);
    padding-right: var(--padding-rigt);
    text-align: right;
}

p {
    font-size: 1em;
    letter-spacing: 1%;
    line-height: 150%;
}

.storypart {
    padding: 30% 3% 30% 3%;

}

.storyh1 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 100;
}

.pContainer {
    padding: 15% 3% 15% 3%;
}

section.storypart div>p,
section.walfi div>p {
    padding: 5% 0 5% 0;
}

div.imgtxt {
    padding: 5% 0 5% 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;

}

.img-txt-item-img {
    display: block;
    grid-column: 1/3;
    grid-row: 1;
    opacity: 75%;
    position: absolute;
}

#imgtxtimg1 {
    grid-column: 1/4;
    grid-row: 1;
    background-image: url(/Assets/Flag_of_the_Ministry_of_Justice_\(Iran\).svg);
    max-width: 100%;
    height: 50vmax;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 60%;
    filter: contrast(90%);
}

.img-txt-item-txt {
    grid-column: 5/2;
    grid-row: 1;
    text-align: right;
    opacity: 99%;
    padding-right: var(--padding-rigt);
}

#imgtxtimg2 {
    grid-column: 1/4;
    grid-row: 1;
    background-image: url(/Assets/mahsa-amini.jpg);
    max-width: 100%;
    height: 50vmax;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
    opacity: 50%;
    filter: contrast(50%);
}

#img-text-wrapper1 {
    padding: 30% 0 20% 0;
}

#img-text-wrapper2 {
    padding: 20% 0 30% 0;
}

.walfi {
    padding-top: 30%;
}

.thefounder {
    padding: 15% 0 15% 0;
}

.walfi h1,
.thefounder h1 {
    font-size: 1.2rem;
    text-align: center;
}

.thefounder {
    align-items: center;
    text-align: center;
}

.thefounder>img {
    max-width: 90%;
    padding: 10% 6% 10% 6%;
}

.thefounder>p {
    padding: 0 6% 0 6%;
    font-size: 1rem;
}

.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1%;
    padding-top: 10%;
    padding-bottom: 15%;
}


.img-text-container>div {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px red !important;
    align-items: center;
    justify-items: center;
    text-align: right;
}

.img-text-container div>img {
    grid-column: 1;
    grid-row: 1;
    max-width: 85%;
    max-height: 85%;
    cursor: pointer;
    opacity: 99%;
    filter: contrast(90%);
}

.img-text-container div>h3 {
    grid-column: 2/1;
    grid-row: 1;
    text-align: right;
    z-index: 1;
}

.slogans{
    padding: 15% 0 15% 0;
}

section.slogans>h1 {
    text-transform: uppercase;
}

section.slogans>h1,p {
    text-align: center;
    padding: 5%;
}


/* For tablets: */
@media only screen and (min-width: 600px) {
    .hero {
        padding-top: 0;
    }


}

/* For desktop: */
@media only screen and (min-width: 768px) {}